button {
    background-color: lightblue;
    color: lightcoral;
    border: rgb(0, 128, 255) 3px solid;
    border-radius: 10px;
}

button a{
    text-decoration: none;
}

button:hover {
    background-color: rgb(218, 205, 31);
    color: rgba(166, 25, 236, 0);
    transition: 1s;
}

